# ==========================================
# XIII Backend - Docker Ignore
# ==========================================

# === Node.js ===
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Environnement ===
.env
.env.*
!.env.sample

# === Git ===
.git
.gitignore

# === Éditeurs ===
.vscode
.idea
*.swp

# === macOS ===
.DS_Store

# === Documentation ===
README.md
docs/

# === Tests ===
coverage/
*.test.js